/* TABLILLAS ADMINISTRATIVAS 1 */
.tbla {margin:0 auto!important;border:var(--border0);width:100%;max-width:520px;box-sizing:border-box;}
.tbla>br {display:none;}
.tbla .tblatit {width:100%;background-color:var(--tbckg1);background-size:cover;background-blend-mode:multiply;background-position:center;background-attachment:fixed;background-repeat:no-repeat;box-sizing:border-box;padding:33px;text-align:center;position:relative;}
.tbla .tblatit.bgimg {background-image:var(--bimg1);}
.tbla .tblatit.bgimg:before {content:"";position:absolute;z-index:0;width:100%;height:100%;background:var(--accent1);left:0px;top:0px;mix-blend-mode:overlay;}
.tbla .tblatit * {position:relative;z-index:1;}
.tbla .tblatit>strong {text-transform:lowercase;font:normal var(--fontsize9) var(--font5);line-height:85%;color:var(--text0);word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
.tbla .tblatit>em:before {content:"";display:block;height:1px;width:30px;background:var(--accent1); margin:4px auto 6px;}
.tbla .tblatit>em {text-transform:uppercase;font-style:normal;font:bold var(--fontsize1) var(--font2);color:var(--text2);line-height:100%;}
.tbla .tblacnt {border-top:var(--border0);box-sizing:border-box;padding:30px;background:var(--tbckg3);border-bottom:var(--border0);}
.tbla:after {display:block;width:100%;content:"";height:10px;background:var(--accent2);margin:-1px;padding:1px;opacity:0.2;}
.tblawarn {border:var(--border2);box-sizing:border-box;padding:20px;position:relative;font:500 var(--fontsize3) var(--font1);font-style:italic;color:var(--text0);}
.tblawarn:before {content:"";position:absolute;left:0px;top:0px;z-index:-1;width:100%;height:100%;background:var(--accent1);opacity:0.6;}
.tblacount {margin:6px 12px;box-sizing:border-box;padding:20px;position:relative;}
.tblacount>p {font-size:var(--fontsize3);counter-increment:list;line-height:120%;}
.tblacount>p:not(:last-of-type) {margin-bottom:-4px;}
.tblacount>p:before {content:counter(list, decimal-leading-zero)'.';font:900 var(--fontsize3) var(--font4);color:var(--accent1);margin-right:4px;}
.tblacount:before, .tblacount:after {content:"";position:absolute;width:20px;height:20px;}
.tblacount:before {top:0px;left:0px;border-top:var(--border2);border-left:var(--border2);}
.tblacount:after {bottom:0px;right:0px;border-bottom:var(--border2);border-right:var(--border2);}
.tblaregist {padding:16px;box-sizing:border-box;border:var(--border1);column-count:1;column-rule:var(--border2);column-gap:30px;position:relative;}
.tblaregist.v2 {column-count:2!important;}
.tblaregist:after {content:"";position:absolute;z-index:0;width:100%;height:100%;background:var(--mback0);top:0px;left:0px;opacity:0.2;}
.tblaregist * {position:relative;z-index:1;}
.tblaregist>em:before {content:"\f054";font:700 var(--fontsize0) 'Font Awesome 6 Pro'!important;margin-right:6px;font-style:normal!important;color:var(--accent1);}
.tblaregist>em>a {text-transform:uppercase;font:800 var(--fontsize3) var(--font4);font-style:normal;}
.tblaregist>em.vamp:before {color:var(--vampiros);}
.tblaregist>em.lican:before {color:var(--lican);}
.tblaregist>em.brujo:before {color:var(--brujos);}
.tblaregist>em.siren:before {color:var(--sirenas);}
.tblaregist>em.human:before {color:var(--humanos);}
.tblaregist>em>span {font-weight:600;}
.tblaregist.v3>br {display:none;}
.tblaregist.v3>em {display:block;}
.tblaregist.v3>em:not(:last-of-type) {margin-bottom:4px;}
.tblaregist.v3>em:before {display:none;}
.tblaregist.v3>em>a {color:var(--subtitle2);padding:1px 4px;background:var(--accent1);margin-right:2px;}
.tblaregist.v3>em.vamp>a {background:var(--vampiros);}
.tblaregist.v3>em.lican>a {background:var(--lican);}
.tblaregist.v3>em.brujo>a {background:var(--brujos);}
.tblaregist.v3>em.siren>a {background:var(--sirenas);}
.tblaregist.v3>em.human>a {background:var(--humanos);}
.tblaregist.vupdate {border:none;padding:6px!important;}
.tblaregist.vupdate:after {display:none;}
.tbla h4#vampiros, .tbla h4#licantropos, .tbla h4#brujos, .tbla h4#sirenas, .tbla h4#humanos {font-size:var(--fontsize8)!important;font-family:var(--font4)!important;}
.tbla h4#vampiros {color:var(--vampiros);}
.tbla h4#licantropos {color:var(--lican);}
.tbla h4#brujos {color:var(--brujos);}
.tbla h4#humanos {color:var(--humanos);}
.tbla h4#sirenas {color:var(--sirenas);}
.tbla h3#vampiros:after {background:var(--vampiros);}
.tbla h3#licantropos:after {background:var(--lican);}
.tbla h3#brujos:after {background:var(--brujos);}
.tbla h3#sirenas:after {background:var(--sirenas);}
.tbla h3#humanos:after {background:var(--humanos);}
/* TABLILLAS ADMINISTRATIVAS 2 */
.tblm {margin:0 auto!important;max-width:360px;width:100%;border:var(--border1);background:var(--tbckg2);position:relative;overflow:hidden;display:flex;justify-content:center;align-items:center;box-sizing:border-box;flex-wrap:wrap;}
.tblm:before {content:"\f004";position:absolute;z-index:0;font:700 160px 'Font Awesome 6 Pro' !important;font-style:normal;text-align:center;font-style:normal;color:var(--accent3);opacity:0.2;}
.tblm .tblmcnt {display:flex;flex-direction:column;justify-content:center;align-content:center;text-align:center;box-sizing:border-box;padding:20px;position:relative;}
.tblm .tblmcnt>br {display:none;}
.tblm .tblmcnt>strong {text-transform:lowercase;font:normal var(--fontsize9) var(--font5);color:var(--accent1);line-height:85%;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
.tblm .tblmcnt>strong:after {content:"";display:block;height:1px;width:40px;margin:3px auto 5px;background:var(--border2-c);}
.tblm .tblmcnt>em {text-transform:uppercase;font-style:normal;font:bold var(--fontsize0) var(--font2);color:var(--text2);line-height:100%;}
.tblm .tblmcnt>em>a {color:var(--text0)!important;}
.tblm.tblacc:before {content:"\f058"!important;top:-30px;}
.tblm.tblrev:before {content:"\e10a"!important;top:-30px;}
.tblm.tblden:before {content:"\f057"!important;}
.tblm.tblreg:before {content:"\f085"!important;}
.tblm.tblotr:before {content:"\f06a"!important;}
.tblm .tblmrexp {text-align:justify;flex:1 0 100%;background:var(--mback1);position:relative;border-top:var(--border1);box-sizing:border-box;padding:12px;font-size:var(--fontsize2)!important;line-height:120%!important;}
.tblm .tblmrexp.tblmhidden br {display:none!important;}
.tblm .tblmrexp.tblmhidden:has(br) {display:none!important;}
.tblm .tblmrexp.tblmhidden:empty {display:none!important;}
/* TABLILLAS DE ROL */
.tblrol {margin:0 auto!important;width:100%;max-width:520px!important;border:var(--border0);box-sizing:border-box;}
.tblrol>br {display:none;}
.tblrol:after {content:"";position:relative;width:100%;height:10px;padding:1px;display:block;background:var(--accent);opacity:0.2;margin:-1px;}
.tblrol .tblrtit {overflow:hidden;text-align:center;box-sizing:border-box;padding:33px;background:var(--tbckg1);display:flex;flex-direction:column;align-items:center;justify-content:center;}
.tblrol * {position:relative;z-index:1;}
.tblrol .tblrtit>br {display:none;}
.tblrol .tblrtit>i {position:absolute!important;font-size:250px;opacity:0.2;color:var(--accent);}
.tblrol .tblrtit>strong {text-transform:lowercase;font:normal var(--fontsize9) var(--font5);line-height:85%;color:var(--text0);word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
.tblrol .tblrtit>x {display:block;height:1px;width:40px;background:var(--accent);margin:4px auto 8px;}
.tblrol .tblrtdata {flex-wrap:wrap;align-items:center;justify-content:center;gap:6px;text-transform:uppercase;font-size:0px;line-height:0px;}
.tblrol .tblrtdata>em {font:bold var(--fontsize2) var(--font4);color:var(--text1);padding:3px 5px;position:relative;line-height:110%;}
.tblrol .tblrtdata>em:before {content:" ";position:absolute;width:100%;height:100%;background:var(--accent);left:0px;top:0px;opacity:0.3;mix-blend-mode:lighten;}
.tblrol .tblrcnt {border-top:var(--border0);border-bottom:var(--border0);box-sizing:border-box;padding:30px;background:var(--tbckg3);}
.tblrol .tblrcnt>strong, .tblrol .tblrcnt>b {color:var(--accent)!important;}
.tblrol.v2:after {display:none!important;}
.tblrol.v2 .tblrtit, .tblrol.v2 .tblrtit * {z-index:1;position:relative;}
.tblrol.v2 .tblrtdata {box-sizing:border-box;padding:20px;background:var(--tbckg1);justify-content:space-evenly;}
.tblrol.v3 {position:relative;}
.tblrol.v3:before {z-index:0;content:"";position:absolute;bottom:0px;left:0px;width:100%;height:calc(100% - 119px);background:linear-gradient(0deg, var(--accent) 0%, var(--tbckg3) 100%);opacity:0.3;}
.tblrol.v3:after {display:none!important;}
.tblrol.v3 .tblrcnt {border-bottom:none;}
/* TABLILLA DE BAÚL */
.tbbaul {margin:0px auto!important;width:100%;max-width:520px;box-sizing:border-box;border:var(--border0);padding:40px;background:var(--tbckg3);display:flex;flex-direction:column;text-align:center;justify-content:center;align-items:center;gap:16px;}
.tbbaul>br {display:none!important;}
.tbbaul .tbbimg {transform:rotate(45deg);box-sizing:border-box;position:relative;margin:40px;width:170px;height:170px;display:flex;justify-content:center;align-items:center;}
.tbbaul .tbbimg:before {content:"";position:absolute;width:100%;height:100%;border:var(--border0);border-color:var(--accent);opacity:0.6;transition:var(--transi1);}
.tbbaul .tbbimg>img {transform:rotate(-45deg);clip-path:polygon(50% 0, 100% 50%, 50% 100%, 0 50%);object-fit:cover;object-position:center;width:180px;height:180px;overflow:hidden;flex-shrink:0;transition:var(--transi1);filter:grayscale(1) brightness(0.4);}
.tbbaul:hover .tbbimg:before {border-color:var(--border1-c);opacity:1;}
.tbbaul:hover .tbbimg>img {filter:none;}
.tbbaul>strong {font:normal var(--fontsize10) var(--font5)!important;text-transform:lowercase;line-height:85%!important;color:var(--text0)!important;}
.tbbaul>em {text-transform:uppercase;font:bold var(--fontsize0) var(--font2);font-style:italic;width:75%;text-align:justify;text-align-last:center;box-sizing:border-box;line-height:110%;letter-spacing:0.5px;color:var(--text2);position:relative;}
.tbbaul>em:before, .tbbaul>em:after {font:700 var(--fontsize0) 'Font Awesome 6 Pro'!important;color:var(--accent);}
.tbbaul>em:before {content:"\f10d";margin-right:6px;}
.tbbaul>em:after {content:"\f10e";margin-left:6px;}
.tbbaul>strong:after {display:block;content:"";height:50px;width:1px;margin:10px auto 0px;background:var(--border2-c);transition:var(--transi1);}
.tbbaul:hover strong:after {background:var(--accent);opacity:0.6;}
.tbbaul .tbblinks {flex-wrap:wrap;justify-content:center;align-items:center;gap:8px;}
.tbbaul .tbblinks>a {text-transform:uppercase;font:800 var(--fontsize2) var(--font4);line-height:100%;padding:4px 4px;position:relative;color:var(--text1);transition:var(--transi1);}
.tbbaul .tbblinks>a:before {position:absolute;content:"";width:100%;height:100%;background:var(--accent);top:0px;left:0px;mix-blend-mode:lighten;opacity:0.3;transition:var(--transi1);}
.tbbaul .tbblinks>a:hover {color:var(--text0);}
.tbbaul .tbblinks>a:hover:before {opacity:0.7;}
/* TABLILLA DE CRONOLOGÍA */
.tbbcron {border:var(--border0);box-sizing:border-box;padding:20px;margin:0 auto!important;width:100%;max-width:520px;background:var(--tbckg3);position:relative;}
.tbbcron .tbbcleg {padding:20px;margin:-20px -20px 0px -20px;border-bottom:var(--border0);justify-content:center;align-items:center;text-align:center;gap:8px;flex-wrap:wrap;text-transform:uppercase;background:var(--mback1);}
.tbbcron .tbbcleg>em {font:800 var(--fontsize2) var(--font4);color:var(--text1);padding:3px 6px;position:relative;}
.tbbcron .tbbcleg>em:before {content:"";position:absolute;background:var(--accent);width:100%;height:100%;top:0px;left:0px;mix-blend-mode:lighten;opacity:0.2;}
.tbbcron .tbbcleg>em>i {color:var(--accent);margin-right:3px;font-size:var(--fontsize1);}
.tbbcron:before {content:"";position:absolute;width:1px;height:100%;background:var(--border0-c);top:0px;left:25px;z-index:0;}
.tbbcron * {position:relative;z-index:1;}
.tbbcd, .tbbctem {position:initial;}
.tbbcd {text-transform:lowercase;font:normal var(--fontsize8) var(--font5)!important;color:var(--text0)!important;margin-left:25px;}
.tbbctem {margin-left:35px;display:flex;flex-direction:column;align-items:flex-start;justify-content:center;}
.tbbctem>br {display:none;}
.tbbctem:before {content:"";position:absolute;left:13px;width:22px;height:22px;transform:rotate(45deg);border:var(--border1);background:var(--mback1);}
.tbbctem>i {position:absolute;left:14px;width:22px;height:22px;display:flex;justify-content:center;align-items:center;font-style:normal;clip-path:polygon(50% 0, 100% 50%, 50% 100%, 0 50%);}
.tbbctem>i:before {content:"\e356";font:700 var(--fontsize1) 'Font Awesome 6 Pro'!important;color:var(--text0);}
.tbbctem.copen>i:before {content:"\f09c";}
.tbbctem.cclose>i:before {content:"\f023";}
.tbbctem.cincon>i:before {content:"\f084";}
.tbbctem>a {text-transform:uppercase;font:900 var(--fontsize4) var(--font1);color:var(--accent)!important;line-height:100%;margin-bottom:3px;}
.tbbctem>a:hover {color:var(--text0)!important;}
.tbbcd:after {content:"";display:block;width:40px;height:1px;background:var(--accent);margin:4px 0px -10px 25px;opacity:0.6;}
.tbbctem>em {text-transform:uppercase;font:bold var(--fontsize1) var(--font2);line-height:100%;color:var(--text2);}
.tbbctem:last-of-type {margin-bottom:6px;}
/* TABLILLA DE RELACIONES */
.tbbrels {box-sizing:border-box;padding:20px;border:var(--border0);background:var(--tbckg3);flex-direction:row;gap:12px;flex-wrap:wrap;margin:0 auto!important;max-width:520px;width:100%;justify-content:space-evenly;align-items:center;}
.tbbrels>br {display:none!important;}
.tbbrels .tbbrchar {flex:1 0 45%;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;border:var(--border0);padding:20px;background:var(--tbckg1);align-self:stretch;position:relative;overflow:hidden;min-width:160px;}
.tbbrels .tbbrchar:before {content:"\ECB4";position:absolute;top:-80px;z-index:0;font:normal 350px game-icons;text-align:center;font-style:normal;color:var(--accent1);opacity:0.1;}
.tbbrels .tbbrchar>br {display:none;}
.tbbrels .tbbrchar * {position:relative;z-index:1;}
.tbbrels .tbbrchar .tbbrcimg {transform:rotate(45deg);position:relative;width:70px;height:70px;display:flex;justify-content:center;align-items:center;margin:20px;}
.tbbrels .tbbrchar .tbbrcimg>img {transform:rotate(-45deg);clip-path:polygon(50% 0, 100% 50%, 50% 100%, 0 50%);object-fit:cover;object-position:center;width:80px;height:80px;overflow:hidden;flex-shrink:0;transition:var(--transi1);filter:grayscale(1) brightness(0.4);}
.tbbrels .tbbrchar .tbbrcimg:before {content:"";position:absolute;width:100%;height:100%;border:var(--border1);}
.tbbrels .tbbrchar>a {font:normal var(--fontsize8) var(--font5);text-transform:lowercase;line-height:85%;margin-top:12px;color:var(--text0);}
.tbbrels .tbbrchar>a:after {content:"";display:block;margin:4px auto 6px;width:40px;height:1px;background:var(--accent1);}
.tbbrels .tbbrchar>em {text-transform:uppercase;font:bold var(--fontsize1) var(--font2);line-height:100%;color:var(--text2);}
.tbbrels .tbbrchar .tbbrcdesc {width:100%;padding:20px;margin:20px -20px -20px -20px;border-top:var(--border0);height:100px;text-align:justify;overflow:auto;background:var(--mback1);}
.tbbrels .tbbrchar .tbbrcdesc>strong, .tbbrels .tbbrchar .tbbrcdesc>b {color:var(--accent1);}
.tbbrchar.vamp:before {content:"\E3C2"!important;}
.tbbrchar.lican:before {content:"\E438"!important;}
.tbbrchar.brujo:before {content:"\EB91"!important}
.tbbrchar.siren:before {content:"\ED92"!important;}
.tbbrchar.human:before {content:"\EBE9"!important;}
.tbbrchar.vamp:before, .tbbrels .tbbrchar.vamp .tbbrcdesc>strong, .tbbrels .tbbrchar.vamp .tbbrcdesc>b {color:var(--vampiros);}
.tbbrels .tbbrchar.vamp>a:after {background:var(--vampiros);}
.tbbrchar.lican:before, .tbbrels .tbbrchar.lican .tbbrcdesc>strong, .tbbrels .tbbrchar.lican .tbbrcdesc>b {color:var(--lican);}
.tbbrels .tbbrchar.lican>a:after {background:var(--lican);}
.tbbrchar.brujo:before, .tbbrels .tbbrchar.brujo .tbbrcdesc>strong, .tbbrels .tbbrchar.brujo .tbbrcdesc>b {color:var(--brujos);}
.tbbrels .tbbrchar.brujo>a:after {background:var(--brujos);}
.tbbrchar.siren:before, .tbbrels .tbbrchar.siren .tbbrcdesc>strong, .tbbrels .tbbrchar.siren .tbbrcdesc>b {color:var(--sirenas);}
.tbbrels .tbbrchar.siren>a:after {background:var(--sirenas);}
.tbbrchar.human:before, .tbbrels .tbbrchar.human .tbbrcdesc>strong, .tbbrels .tbbrchar.human .tbbrcdesc>b {color:var(--humanos);}
.tbbrels .tbbrchar.human>a:after {background:var(--humanos);}
/* BÚSQUEDA DE TRAMAS */
.tbseatr {margin:0 auto!important;width:100%;max-width:520px;border:var(--border0);box-sizing:border-box;}
.tbseatr>br, .tbseatr .tbsttit>br, .tbseatr .tbstcnt .tbst summary>br {display:none;}
.tbseatr:after {display:block;width:100%;content:"";height:10px;background:var(--accent);margin:-1px;padding:1px;opacity:0.2;}
.tbseatr .tbsttit {text-align:center;box-sizing:border-box;padding:20px;background:var(--tbckg1);position:relative;overflow:hidden;display:flex;flex-direction:column;justify-content:center;align-items:center;}
.tbseatr .tbsttit * {position:relative;z-index:1;}
.tbseatr .tbsttit>i {position:absolute;z-index:0;opacity:0.2;font-size:200px;color:var(--accent);}
.tbseatr .tbsttit>strong {text-transform:lowercase;font:normal var(--fontsize9) var(--font5);line-height:85%;color:var(--text0);word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
.tbseatr .tbsttit>em:before {content:"";display:block;height:1px;width:30px;background:var(--accent); margin:4px auto 6px;}
.tbseatr .tbsttit>em {text-transform:uppercase;font-style:normal;font:bold var(--fontsize1) var(--font2);color:var(--text2);line-height:100%;}
.tbseatr .tbstcnt {border-top:var(--border0);box-sizing:border-box;padding:20px;background:var(--tbckg3);border-bottom:var(--border0);}
.tbseatr .tbstcnt .tbst {border:var(--border0);}
.tbseatr .tbstcnt .tbst>br {display:none;}
.tbseatr .tblacount>p:before, .tbseatr .tbstcnt strong {color:var(--accent);}
.tbseatr .tbstcnt .tbst summary {background:var(--mback1);list-style-type:none;padding:12px;box-sizing:border-box;cursor:var(--cursor1);}
.tbseatr .tbstcnt .tbst summary>strong {text-transform:uppercase;font:900 var(--fontsize3) var(--font1);color:var(--accent);line-height:100%;margin-bottom:3px;display:block;}
.tbseatr .tbstcnt .tbst summary>i {float:left;font-size:var(--fontsize9);margin-right:12px;color:var(--text0);}
.tbseatr .tbstcnt .tbst summary>em {text-transform:uppercase;font:bold var(--fontsize1) var(--font2);line-height:100%;display:block;color:var(--text2);}
.tbseatr .tbstcnt .tbst[open]>summary {border-bottom:var(--border0);}
.tbseatr .tbstcnt .tbst>p {padding-right:10px;border:20px solid transparent;border-right-width:10px;max-height:200px;box-sizing:border-box;font-size:var(--fontsize3);background:var(--tbckg3);margin:0px;overflow:auto;}
.tbseatr .tbstcnt .tbst.strese>summary>i {color:var(--text1);opacity:0.7;}
.tbseatr .tbstcnt .tbst.stclose>summary {text-decoration:line-through;text-decoration-color:var(--text3);}
.tbseatr .tbstcnt .tbst.stclose>summary>i {color:var(--text3);opacity:0.6;}
.tbseatr .tbstcnt .tbst.stclose>summary>em {color:var(--text3);}
/* BÚSQUEDA DE PERSONAJE */
.tbseapj {flex-direction:column;margin:0 auto!important;width:100%;max-width:520px;box-sizing:border-box;border:var(--border0);}
.tbseapj>br, .tbseapj>div.flex>br {display:none;}
.tbseapj .tbsptit {text-align:center;box-sizing:border-box;padding:20px;background:var(--tbckg1);}
.tbseapj .tbsptit>strong {text-transform:lowercase;font:normal var(--fontsize9) var(--font5);line-height:85%;color:var(--text0);word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
.tbseapj .tbsptit>em:before {content:"";display:block;height:1px;width:30px;background:var(--accent); margin:4px auto 6px;}
.tbseapj .tbsptit>em {text-transform:uppercase;font-style:normal;font:bold var(--fontsize1) var(--font2);color:var(--text2);line-height:100%;}
.tbseapj>div.flex {border-top:var(--border0);flex-direction:row;}
.tbseapj .tbspcnt {box-sizing:border-box;border:20px solid transparent;border-right-width:10px;padding-right:10px;background:var(--tbckg3);height:300px;overflow:auto;flex:1;}
.tbseapj .tbspcnt strong {color:var(--accent);}
.tbseapj .tbspimg {border-left:var(--border0);align-self:stretch;width:180px;height:300px;position:relative;}
.tbseapj .tbspimg:before {content:"";height:100%;position:absolute;width:100%;background:linear-gradient(0deg, var(--accent) 0%, var(--tbckg3) 100%);z-index:1;mix-blend-mode:multiply;}
.tbseapj .tbspimg>img {width:180px;height:300px;object-fit:cover;object-position:center;filter:grayscale(1) brightness(0.6);}
/* FICHA/EXPEDIENTE */
.post:has(.tbficha) .postprofile {display:none;}
.tbficha {margin:0 auto;width:100%;max-width:700px;border:var(--border0);background:rgba(0,0,0,0.70);box-sizing:border-box;position:relative;height:500px;overflow:hidden}
.tbficha>br, .tbficha input {display:none;}
.tbficha .tbfilabels {width:100%;display:flex;flex-direction:row;justify-content:space-around;align-items:center;gap:6px;box-sizing:border-box;padding:12px;border-bottom:var(--border0);background:var(--tbckg1);}
.tbficha .tbfilabels label {cursor:var(--cursor2);transition:var(--transi1);width:10px;height:10px;background:var(--mback1);border:var(--border2);transform:rotate(45deg);padding:0px;position:relative;}
.tbficha input#fisec1:checked ~ .tbfilabels label[for="fisec1"], .tbficha input#fisec2:checked ~ .tbfilabels label[for="fisec2"], .tbficha input#fisec3:checked ~ .tbfilabels label[for="fisec3"], .tbficha input#fisec4:checked ~ .tbfilabels label[for="fisec4"] {background:var(--group);}
.tbficha .tbfilabels label:before {content:"";position:absolute;z-index:-1;width:100%;height:100%;top:0px;left:0px;background:var(--mback0);opacity:0.3;transition:var(--transi1);}
.tbficha input#fisec1:checked ~ .tbfilabels label[for="fisec1"]:before, .tbficha input#fisec2:checked ~ .tbfilabels label[for="fisec2"]:before, .tbficha input#fisec3:checked ~ .tbfilabels label[for="fisec3"]:before, .tbficha input#fisec4:checked ~ .tbfilabels label[for="fisec4"]:before {opacity:0;}
.tbficha .tbfisec {position:absolute;top:37px;width:100%;height:calc(100% - 37px);transition:var(--transi2);box-sizing:border-box;}
.tbficha input#fisec1:checked ~ .tbfisec1, .tbficha input#fisec2:checked ~ .tbfisec2, .tbficha input#fisec3:checked ~ .tbfisec3, .tbficha input#fisec4:checked ~ .tbfisec4 {left:0px!important;}
.tbficha input#fisec1:checked ~ .tbfisec2, .tbficha input#fisec2:checked ~ .tbfisec3, .tbficha input#fisec3:checked ~ .tbfisec4 {left:100%!important;}
.tbficha input#fisec1:checked ~ .tbfisec3, .tbficha input#fisec2:checked ~ .tbfisec4 {left:200%!important;}
.tbficha input#fisec1:checked ~ .tbfisec4 {left:300%!important;}
.tbficha input#fisec2:checked ~ .tbfisec1, .tbficha input#fisec3:checked ~ .tbfisec2, .tbficha input#fisec4:checked ~ .tbfisec3 {left:-100%!important;}
.tbficha input#fisec3:checked ~ .tbfisec1, .tbficha input#fisec4:checked ~ .tbfisec2 {left:-200%!important;}
.tbficha input#fisec4:checked ~ .tbfisec1 {left:-300%!important;}
.tbficha .tbfisec1 {display:flex;flex-direction:column;justify-content:center;align-items:center;padding:12px;text-align:center;}
.tbficha .tbfisec1:before {content:"";background:linear-gradient(0deg, var(--group-30) 0%, transparent 100%);height:100%;width:100%;opacity:0.6;position:absolute;z-index:1;}
.tbficha .tbfisec1>img {position:absolute;top:0px;left:0px;max-width:700px;max-height:465px;height:100%;width:100%;object-fit:cover;object-position:center;filter:grayscale(1) brightness(0.6);opacity:0.4;z-index:0;}
.tbficha .tbfisec1>br {display:none!important;}
.tbficha .tbfisec1 * {position:relative;z-index:2;}
.tbficha .tbfisec1>strong {font:normal var(--fontsize10) var(--font5);text-transform:lowercase;color:var(--text0);line-height:85%;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
.tbficha .tbfisec1>em {text-transform:uppercase;font:bold var(--fontsize1) var(--font2);color:var(--text2);line-height:100%;}
.tbficha .tbfisec1>em:before {content:"";display:block;margin:2px auto 6px;width:60px;height:1px;background:var(--group);}
.tbficha .tbfisec2 {display:flex;flex-direction:column;align-items:center;justify-content:space-between;text-align:center;}
.tbficha .tbfisec2>br, .tbficha .tbfisec2 .tbfidata>br, .tbficha .tbfisec2 .tbfistats>br {display:none;}
.tbficha .tbfisec2 .tbfidata {max-height:391.29px;display:flex;flex-direction:column;flex-wrap:wrap;justify-content:space-evenly;align-items:center;flex:1 0 85%;align-self:stretch;gap:6px;box-sizing:border-box;padding:6px;}
.tbficha .tbfisec2 .tbfidata>em {flex:1 0 30%;display:flex;flex-direction:column;align-items:center;justify-content:center;text-transform:uppercase;font-style:normal;align-self:stretch;gap:6px;}
.tbficha .tbfisec2 .tbfidata>em>span {font:600 var(--fontsize3) var(--font4);color:var(--text1);line-height:100%!important;padding:3px 4px;background:var(--group-30);}
.tbficha .tbfisec2 .tbfidata>em>strong {font:bold var(--fontsize1) var(--font2);color:var(--group);line-height:100%;}
.tbficha .tbfisec2 .tbfistats {display:flex;width:100%;justify-content:space-evenly;align-items:center;flex:1 0 15%;border-top:var(--border0);flex-wrap:wrap;gap:6px;box-sizing:border-box;padding:6px;}
.tbficha .tbfisec2 .tbfistats>em {display:flex;flex-direction:row;justify-content:center;align-items:center;align-self:stretch;flex:1;font:900 var(--fontsize5) var(--font4);line-height:100%;font-style:normal;gap:3px;border-top:var(--border0);border-bottom:var(--border0);border-color:var(--group-30);padding:2px;box-sizing:border-box;background:var(--mback1);}
.tbficha .tbfisec2 .tbfistats>em>span {color:var(--text1);font-weight:800;}
.tbficha .tbfisec2 .tbfistats>em>strong {color:var(--group);font-style:italic;}
.tbficha .tbfisec3, .tbficha .tbfisec4 {padding:40px;overflow:auto;font:normal var(--fontsize3) var(--font1);line-height:140%;}
.tbficha .tbfisec3::-webkit-scrollbar, .tbficha .tbfisec4::-webkit-scrollbar {display:none;}
.tbficha .tbfidiv {text-align:center;display:flex;flex-direction:column;justify-content:center;align-items:center;width:50%;margin:25px auto;min-width:170px;position:relative;max-width:250px;}
.tbficha .tbfidiv>i {position:absolute;z-index:1;color:var(--group-10);font-size:60px;}
.tbficha .tbfidiv * {position:relative;z-index:2;}
.tbficha .tbfidiv>strong {text-transform:lowercase;font:normal var(--fontsize8) var(--font5);line-height:85%;color:var(--text0);word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
.tbficha .tbfidiv>em {text-transform:uppercase;font:bold var(--fontsize0) var(--font2);color:var(--text2);text-align:justify;text-align-last:center;line-height:105%;}
.tbficha .tbfidiv>x {width:30px;height:1px;background:var(--group-50);margin:2px auto 3px;}
.tbficha .tbfidiv.v2>i {position:relative;font-size:40px;color:var(--group);line-height:100%;}
.tbficha .tbfidiv.v2 {gap:6px;margin:12px auto;}
.tbficha .tbfisec4 ul {list-style-type:none;margin:0px!important;}
.tbficha .tbfisec4 ul li:before {content:"\f324";font:900 var(--fontsize2) 'Font Awesome 6 Pro'!important;color:var(--group);margin:0px 6px;}
.tbficha .tbfidiv.v3 {margin:12px auto;background:var(--group-30);box-sizing:border-box;padding:12px;}
.tbficha .tbfidiv.v3>em {margin:3px 3px 0px 4px;}
.tbficha .tbfshabs {display:flex;flex-direction:row;flex-wrap:wrap;border-bottom:var(--border0);margin:-40px -40px 0px -40px;padding:40px;width:100%;}
.tbficha .tbfshabs>br {display:none;}
.tbficha .tbfshabs h1 {margin:0px;padding:0px;text-transform:uppercase;font:800 var(--fontsize6) var(--font4);text-align:center;width:100%;display:flex;flex-direction:row;justify-content:center;align-items:center;word-break:break-word;margin-bottom:12px;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
.tbficha .tbfshabs h1:before, .tbfshabs h1:after {content:"";flex:1;height:1px;background:var(--group-50);margin:0px 12px;min-width:12px;}
.tbficha .tbfshabs .tbfshcont {max-height:91px;overflow:auto;padding-right:6px;width:100%;}
.tbficha .tbfshabs .tbfshcont>em {font:bold var(--fontsize1) var(--font2);color:var(--text0)!important;line-height:100%;position:relative;padding:3px!important;width:fit-content;text-transform:uppercase;margin:0px 4px;}
.tbficha .tbfshabs .tbfshcont>em:before {background:var(--group-50);content:" ";position:absolute;width:100%;height:6px;bottom:4px;left:-1px;padding:0px;z-index:0;mix-blend-mode:lighten;}
/* TABLILLA DE BUZÓN */
.tbbuz {max-width:330px;width:100%;margin:0 auto;min-height:200px;box-sizing:border-box;border:var(--border0);background:var(--tbckg2);position:relative;}
.tbbuz:before, .tbbuz:after {content:"";position:absolute;width:20px;height:20px;transition:var(--transi2);}
.tbbuz:before {top:12px;left:12px;border-top:var(--border1);border-left:var(--border1);}
.tbbuz:after {bottom:12px;right:12px;border-bottom:var(--border1);border-right:var(--border1);}
.tbbuz:hover:before, .tbbuz:hover:after {width:calc(100% - 25px);height:calc(100% - 26px);}
.tbbuz>br {display:none;}
.tbbuz .tbbz {position:absolute;top:0px;left:0px;width:100%;height:100%;transition:var(--transi1);box-sizing:border-box;padding:25px;z-index:1;}
.tbbuz .tbbz.bfront {display:flex;justify-content:center;align-items:center;flex-direction:column;text-align:center;opacity:1;}
.tbbuz .tbbz * {position:relative;z-index:1;}
.tbbuz .tbbz>i {position:absolute;z-index:0;color:var(--accent);font-size:100px;opacity:0.2;}
.tbbuz .tbbz>strong {text-transform:lowercase;font:normal var(--fontsize9) var(--font5);line-height:85%;color:var(--text0);}
.tbbuz .tbbz>x {margin:4px auto 6px;width:40px;height:1px;background:var(--accent);opacity:0.6;}
.tbbuz .tbbz>em {text-transform:uppercase;font:bold var(--fontsize1) var(--font2);color:var(--text2);line-height:100%;}
.tbbuz:hover .tbbz.bfront {opacity:0;}
.tbbuz .tbbz.bback {display:flex;flex-direction:column;justify-content:space-between;align-items:start;text-align:left;opacity:0;}
.tbbuz .tbbz.bback>div>em {font:bold var(--fontsize2) var(--font1);text-transform:uppercase;color:var(--text0);line-height:100%;}
.tbbuz .tbbz.bback>br {display:none;}
.tbbuz .tbbz.bback>div>br {display:none;}
.tbbuz .tbbz.bback>div>span, .tbbuz .tbbz.bback>div>em {display:block;}
.tbbuz:hover .tbbz.bback {opacity:1;}
.tbbuz .tbbz.bback>div>x {width:40px;height:1px;background:var(--accent);display:block;opacity:0.6;margin:4px 0px 6px 0px;}
.tbbuz .tbbz.bback>div>span {font:600 var(--fontsize0) var(--font2);text-transform:uppercase;color:var(--text2);line-height:100%;font-style:italic;width:80%;}
.tbbuz .tbbz.bback>div>.flex {flex-direction:row;flex-wrap:wrap;justify-content:flex-start;align-items:center;gap:6px;text-transform:uppercase;}
.tbbuz .tbbz.bback>div>.flex>a {font:700 var(--fontsize2) var(--font4);color:var(--text1);padding:2px 4px;transition:var(--transi1);position:relative;}
.tbbuz .tbbz.bback>div>.flex>a:before {position:absolute;content:"";top:0px;left:0px;width:100%;height:100%;background:var(--accent);mix-blend-mode:lighten;opacity:0.4;transition:var(--transi1);}
.tbbuz .tbbz.bback>div>.flex>a:hover {color:var(--text0);}
.tbbuz .tbbz.bback>div>.flex>a:hover:before {opacity:0.8;}
.tbbuz.bv2 .tbbz {opacity:1!important;}
.tbbuz.bv2.bv2front:before, .tbbuz.bv2.bv2front:after {width:20px!important;height:20px!important;}
.tbbuz.bv2.bv2back:before, .tbbuz.bv2.bv2back:after {width:calc(100% - 25px);height:calc(100% - 26px);}
/* TABLILLA DE MENSAJES DE TEXTO */
.tbbzmens {margin:0 auto;max-width:330px;box-sizing:border-box;width:100%;border:var(--border0);display:flex;flex-direction:column;background:var(--tbckg2);}
.tbbzmens>br, .tbbzmens>div>br, .tbbzmens>div>strong>br {display:none;}
.tbbzmens .tbbzmcont {text-align:center;width:100%;border-bottom:var(--border0);box-sizing:border-box;text-transform:uppercase;font:bold var(--fontsize1) var(--font2);color:var(--text0);padding:6px;line-height:100%;}
.tbbzmens .tbbzmthread {display:flex;flex-direction:column;box-sizing:border-box;padding:12px;gap:8px;}
.tbbzmens .tbbzmpreview {padding:6px;box-sizing:border-box;border-top:var(--border0);display:flex;flex-direction:row;width:100%;gap:6px;justify-content:space-between;align-items:center;}
.tbbzmens .tbbzmcont>strong {color:var(--accent);}
.tbbzmens .tbbzmpreview>strong {flex:1;box-sizing:border-box;padding:6px;border:var(--border1);position:relative;background:var(--mback1);color:var(--text3);font-weight:normal;line-height:110%;text-align:left;}
.tbbzmens .tbbzmpreview>em {display:flex;justify-content:center;align-items:center;align-self:stretch;width:30px;background:var(--accent);cursor:var(--cursor2);}
.tbbzmens .tbbzmpreview>em>i {color:var(--text0);}
.tbbzmens .tbbzmthread>strong {display:flex;flex-direction:column;gap:4px;text-align:justify;justify-content:center;}
.tbbzmens .tbbzmthread>strong.recieved {align-items:flex-start;text-align-last:left;}
.tbbzmens .tbbzmthread>strong.sent {align-items:flex-end;text-align-last:right;}
.tbbzmens .tbbzmthread>strong>em {font:400 var(--fontsize3) var(--font1);line-height:100%;color:var(--text1);box-sizing:border-box;padding:8px;width:fit-content;max-width:70%;border-radius:6px;border:var(--border1);position:relative;overflow:hidden;}
.tbbzmens .tbbzmthread>strong.recieved>em:first-of-type {border-top-left-radius:0px;}
.tbbzmens .tbbzmthread>strong.sent>em:first-of-type {border-top-right-radius:0px;}
.tbbzmens .tbbzmthread>strong>em:before {content:"";position:absolute;width:100%;height:100%;top:0px;mix-blend-mode:screen;left:0px;}
.tbbzmens .tbbzmthread>strong.sent>em:before {background:var(--accent);opacity:0.2;}
.tbbzmens .tbbzmthread>strong.recieved>em:before {background:var(--mback0);opacity:0.3;}
/* TABLILLA DE CARTAS */
.tbbzcarta {width:100%;margin:0 auto;max-width:400px;border:var(--border0);box-sizing:border-box;}
.tbbzcarta>br {display:none;}
.tbbzcarta strong {color:var(--accent);}
.tbbzcarta .tbbzcfro {display:flex;text-align:center;justify-content:center;align-items:center;flex-direction:column;position:relative;overflow:hidden;padding:20px;background:var(--tbckg1);box-sizing:border-box;}
.tbbzcarta .tbbzcfro>strong {text-transform:lowercase;font:normal var(--fontsize8) var(--font5);line-height:85%;color:var(--text0);}
.tbbzcarta .tbbzcfro>x {display:block;margin:4px auto 6px;width:60px;height:1px;background:var(--accent);opacity:0.6;}
.tbbzcarta .tbbzcfro>em {text-transform:uppercase;font:bold var(--fontsize0) var(--font2);color:var(--text2);line-height:100%;}
.tbbzcarta .tbbzccnt {box-sizing:border-box;border-top:var(--border0);background:var(--tbckg3);padding:20px;}
/* TABLILLA DE COMBATE */
.tbcomb {display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:flex-start;gap:12px;width:100%;margin:0 auto;max-width:520px;}
.tbcomb>br, .tbcomb .tbco>br, .tbcomb .tbco .tbcocinfo>br, .tbcomb .tbco .tbcostats>br, .tbcomb .tbco details>br {display:none;}
.tbcomb .tbco {flex:1 0 45%;min-width:200px;box-sizing:border-box;border:var(--border0);background:var(--tbckg3);padding:12px;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:6px;}
.tbcomb .tbco .tbcocinfo {width:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;gap:6px;}
.tbcomb .tbco .tbcocinfo>i {text-align:center;display:flex;justify-content:center;align-items:center;flex-shrink:0;width:35px;height:35px;background:var(--mback1);border:var(--border1);transform:rotate(45deg);margin:8px;}
.tbcomb .tbco .tbcocinfo>i:before {content:"\ECB4";font:normal 20px game-icons;transform:rotate(-45deg);font-style:normal;color:var(--accent);}
.tbcomb .tbco .tbcocinfo>strong {display:block;font:700 var(--fontsize7) var(--font4);text-transform:uppercase;line-height:90%;color:var(--text0);margin-top:6px;}
.tbcomb .tbco .tbcocinfo>em {text-transform:uppercase;font:bold var(--fontsize0) var(--font2);line-height:100%;color:var(--text2);}
.tbcomb .tbco.bestia .tbcocinfo>i:before {content:"\EC1A";color:var(--accent1);}
.tbcomb .tbco.bestia .tbcocinfo>em:before {background:var(--accent1);}
.tbcomb .tbco .tbcocinfo>em:before {content:"";display:block;width:30px;height:1px;background:var(--accent);margin:-1px auto 4px;}
.tbcomb .tbco .tbcobar {width:100%;height:20px;display:flex;flex-direction:row;box-sizing:border-box;background-color:var(--mback1);border:var(--border1);overflow:hidden;position:relative;padding:2px 0px;align-items:center;}
.tbcomb .tbco:nth-of-type(1) .tbcobar {justify-content:flex-start;text-align:left;}
.tbcomb .tbco:nth-of-type(2) .tbcobar {justify-content:flex-end;text-align:right;}
.tbcomb .tbco .tbcobar .tbcohpbar {background-color:var(--accent);height:100%;display:flex;box-sizing:border-box;position:relative;z-index:0;}
.tbcomb .tbco.bestia .tbcohpbar {background-color:var(--accent1);}
.tbcomb .tbco .tbcobar #tbcohp {position:relative;color:var(--accent);font:800 var(--fontsize2) var(--font4);line-height:85%;margin:2px;z-index:2;width:100%;height:100%;}
.tbcomb .tbco.bestia .tbcobar #tbcohp {color:var(--accent1);}
.tbcomb .tbco .tbcobar #tbcohp:before {content:attr(actual);transition:0.4s;position:absolute;z-index:1;top:1.5px;left:2px;mix-blend-mode:difference;}
.tbcomb .tbco .tbcobar #tbcohp:after {content:attr(total);position:absolute;z-index:1;right:2px;top:1.5px;mix-blend-mode:difference;}
.tbcomb .tbco .tbcostats {display:flex;width:100%;gap:6px;justify-content:center;align-items:center;text-align:center;}
.tbcomb .tbco .tbcostats>strong {flex:1;display:flex;flex-direction:column;align-items:center;justify-content:center;font:800 var(--fontsize2) var(--font4);border-top:var(--border1);border-bottom:var(--border1);padding:4px;position:relative;color:var(--text1);line-height:100%;}
.tbcomb .tbco .tbcostats>strong * {position:relative;z-index:1;}
.tbcomb .tbco .tbcostats>strong:before {top:0px;left:0px;width:100%;height:100%;content:"";position:absolute;background:var(--accent);opacity:0.1;}
.tbcomb .tbco.bestia .tbcostats>strong:before {background:var(--accent1);}
.tbcomb .tbco .tbcostats>strong>span {font-weight:900;}
.tbcomb .tbco .tbcostats>strong>em {color:var(--text2);}
.tbcomb .tbco .tbcores {margin:2px -12px 2px -12px;padding:12px;border-bottom:var(--border0);border-top:var(--border0);width:100%;font:normal var(--fontsize3) var(--font1);line-height:120%;overflow:auto;max-height:31px;}
.tbcomb .tbco .tbcores::-webkit-scrollbar {display:none;}
.tbcomb .tbco .tbcores strong {color:var(--accent)!important;font-weight:800!important;text-transform:uppercase;}
.tbcomb .tbco.bestia .tbcores strong {color:var(--accent1)!important;}
.tbcomb .tbco .tbcores i {color:var(--text2)!important;}
.tbcomb .tbco details {width:100%;padding:12px;margin:-8px -12px -12px -12px;background:var(--tbckg3);}
.tbcomb .tbco details>summary {list-style-type:none;text-align:center;font:bold var(--fontsize1) var(--font2);text-transform:uppercase;color:var(--text2);line-height:100%;}
.tbcomb .tbco details>summary:before {content:"\2b";margin-right:6px;font:700 var(--fontsize0) 'Font Awesome 6 Pro'!important;color:var(--accent);}
.tbcomb .tbco.bestia details>summary:before {color:var(--accent1);}
.tbcomb .tbco details>div {font:normal var(--fontsize3) var(--font1);line-height:130%;border:var(--border0);width:100%;padding:12px;margin:12px 0px 0px 0px;box-sizing:border-box;background:var(--mback1);max-height:180px;overflow:auto;}
.tbcomb .tbco details>div strong {color:var(--accent)!important;}
.tbcomb .tbco.beast details>div strong {color:var(--accent1)!important;}
.tbcomb .tbco details>div::-webkit-scrollbar {display:none;}
.tbcomb .tbco details>div h4 {color:var(--accent);font-family:var(--font4)!important;font-size:var(--fontsize5)!important;position:relative;display:flex;justify-content:flex-end;align-items:center;gap:6px;}
.tbcomb .tbco details>div h4:before {flex:1;height:1px;background:var(--border2-c);content:"";}
.tbcomb .tbco details>div>em {text-transform:uppercase;padding:2px 4px;float:left;background:var(--accent);color:var(--text0);font:700 var(--fontsize2) var(--font4);margin:0px 6px;line-height:100%;font-style:normal;}
.tbcomb .tbco.bestia details>div h4 {color:var(--accent1);}
.tbcomb .tbco.bestia details>div>em {background:var(--accent2);}
.tbco.vampiro, .tbco.vamp {--accent:var(--vampiros);}
.tbco.licántropo, .tbco.lican, .tbco.licantropo {--accent:var(--lican);}
.tbco.brujo, .tbco.bruja {--accent:var(--brujos);}
.tbco.sirena, .tbco.tritón, .tbco.triton, .tbco.siren {--accent:var(--sirenas);}
.tbco.humano, .tbco.humana, .tbco.human {--accent:var(--humanos);}
.tbcomb .tbco.vampiro .tbcocinfo>i:before {content:"\E3C2";}
.tbcomb .tbco.licántropo .tbcocinfo>i:before, .tbcomb .tbco.licantropo .tbcocinfo>i:before, .tbcomb .tbco.lican .tbcocinfo>i:before {content:"\E438";}
.tbcomb .tbco.brujo .tbcocinfo>i:before, .tbcomb .tbco.bruja .tbcocinfo>i:before {content:"\EB91";}
.tbcomb .tbco.sirena .tbcocinfo>i:before, .tbcomb .tbco.tritón .tbcocinfo>i:before, .tbcomb .tbco.triton .tbcocinfo>i:before, .tbcomb .tbco.siren .tbcocinfo>i:before {content:"\ED92";}
.tbcomb .tbco.humano .tbcocinfo>i:before, .tbcomb .tbco.humana .tbcocinfo>i:before, .tbcomb .tbco.human .tbcocinfo>i:before {content:"\EBE9";}
.tbcomb .tbcoskills {flex:1 0 45%;min-width:200px;padding:12px;box-sizing:border-box;border:var(--border0);background:var(--tbckg3);font:normal var(--fontsize3) var(--font1);line-height:130%;height:262px;overflow:auto;}
.tbcomb .tbcoskills strong {color:var(--accent)!important;}
.tbcomb .tbcoskills::-webkit-scrollbar {display:none;}
.tbcomb .tbcoskills h4 {color:var(--accent);font-family:var(--font4)!important;font-size:var(--fontsize5)!important;position:relative;display:flex;justify-content:flex-end;align-items:center;gap:6px;}
.tbcomb .tbcoskills h4:before {flex:1;height:1px;background:var(--border2-c);content:"";}
.tbcomb .tbcoskills>em {text-transform:uppercase;padding:2px 4px;float:left;background:var(--accent);color:var(--text0);font:700 var(--fontsize2) var(--font4);margin:0px 6px;line-height:100%;font-style:normal;}
.tbcomb.solo .tbco .tbcores {margin-bottom:-12px;border-bottom:none;}
.tbcomb.solo .tbco {align-self:stretch;justify-content:space-between;}
.tbcomb.solo .tbco .tbcores {flex:1;}
/* MEDIA */
@media (max-width: 766px) {
.tbficha .tbfisec2 .tbfidata>em>span {width:min-content;}
}
@media (max-width: 666px) {
.tbla .tblatit, .tblrol .tblrtit {padding:20px;}
.tbla .tblacnt, .tblrol .tblrcnt {padding:20px;}
.tblacount {margin:6px!important;}
.tblaregist, .tblawarn, .tblacount, .tblrol.v2 .tblrtdata {padding:12px!important;}
.tblaregist.v2 {column-count:1!important;}
.tblas .tblastit, .tblas .tblascntm, .tblm .tblmcnt {padding:12px;}
.tbbaul {padding:20px;}
.tbbaul .tbbimg {width:120px;height:120px;margin:30px;}
.tbbaul .tbbimg>img {width:130px;height:130px;}
.tbseatr .tbsttit, .tbseatr .tbstcnt, .tbbzcarta .tbbzccnt, .tbbzcarta .tbbzcfro {padding:14px;}
.tbseatr .tbstcnt .tbst>p {border-width:10px;padding-right:5px;border-right-width:5px;}
.tbseapj .tbspimg {display:none;}
.tbseapj .tbspcnt {height:auto;border:none;padding:20px;}
.tbseapj .tbsptit {padding:12px;}
.tbficha .tbfisec3, .tbficha .tbfisec4, .tbficha .tbfshabs {padding:30px;}
.tbficha .tbfshabs {margin:-30px -30px 0px -30px;}
.tbficha .tbfisec2 .tbfidata>em {flex:1 0 16%;}
.tbficha .tbfisec2 .tbfidata>em>strong {width:min-content;}
}
@media (max-width: 470px) {
.tbla .tblatit, .tblrol .tblrtit {padding:14px;}
.tbla .tblacnt, .tblrol .tblrcnt {padding:14px;}
.tblacount {margin:6px!important;}
.tblacount, .tblawarn {padding:10px!important;}
.tbbaul, .tbbrels, .tbbrels .tbbrchar, .tbbrels .tbbrchar .tbbrcdesc {padding:14px;}
.tbbrels .tbbrchar .tbbrcdesc {margin:14px -14px -14px -14px;}
.tbbrels .tbbrchar .tbbrcimg {width:60px;height:60px;margin:14px;}
.tbbaul .tbbimg {width:80px;height:80px;margin:20px;}
.tbbaul .tbbimg>img {width:90px;height:90px;}
.tbbrels .tbbrchar .tbbrcimg>img {width:70px;height:70px;}
.tbseapj .tbspcnt {padding:12px;}
.tbficha .tbfisec2 .tbfistats>em {flex:1 0 30%;}
.tbficha .tbfisec3, .tbficha .tbfisec4, .tbficha .tbfshabs {padding:20px;}
.tbficha .tbfshabs {margin:-20px -20px 0px -20px;}
.tbficha .tbfidiv {margin-left:0px!important;margin-right:0px!important;width:100%!important;min-width:auto!important;max-width:auto!important;}
}
